<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>

<h1><%= @locality.country.name %></h1>

<% if @locality.region %>
  <h2><%= @locality.region.name %></h2>
<% end %>

<h3><%= @locality.name %></h3>

<% if false && @locality.people.present? %>
  <h2>People</h2>

  <ul>
    <% @locality.people.each do |locality| %>
      <li><%= link_to locality.name, locality.path %></li>
    <% end %>
  </ul>
<% end %>
